{% extends "layout.html" %}
{% load static %} 
{% block title %}Remote Monitoring{% endblock title %}

{% block content %}

<div class="skill-section-header" style="">
  <h3>Project "Remote Monitoring" Overview</h3>
  <div class="title-border"></div>
</div>
<p class="leading">
  We designed a web app that allows users or guest to decide which language/Framerwork/Tools is
  the best by participating to a live perpetual vote. To simulate data coming in a real-time fashion
  way from multiple sources, we implemented a <strong>multi-threaded environment</strong> where threads produce
  new vote
  on existing resources. <br> This project, built with <strong>Java 8</strong> and <strong>Spring boot
    Framework</strong> implements
  <span class="imp">real-time data updates</span> using asynchronous client data submission, leveraging Axios for
  robust
  client-server communication. Also it employs <strong>server-sent events</strong> through reactive programming,
  utilizing Spring boot <span class="imp">Reactor Sinks API and Mono.fromRunnable</span> to create a web-thread
  producer for efficient event handling.
</p>
<p style="margin-bottom: 5px;">Following are some keypoints that has been focused on:</p>
<ul style="">
  <li>Web Security with Form authentication and Basic Api Authorization</li>
  <li>Restful Api Design and Documentation</li>
  <li>Asynchronous CRUD Operation using Reactive Crud Repository</li>
  <li>Concurrency Management</li>
  <li>Configuration Management</li>
  <li>CI/CD Pipeline</li>
</ul>

<p>Next we present some a schematic overview of the work addressed by presenting first the <strong>application
    compenent architecture diagram</strong>. Next we present the <strong>CI/CD flow</strong> implemented to ensure
  a continuous streamline environment. Last we present a proof a concept of the robustness of our application
  through a screenshot of a <strong>performance testing</strong> applied on our app rest api using <strong>Apache
    JMeter</strong> to send 100 request during 1min simulating the launch and execution of 100 thread producer
  working on the shared resources. The schema clearly present the answer and the value proposed</p>
{% endblock content %}