main{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-content{
  margin: 15px 50px;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #eee;
}
.header-content{
  padding: 0px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-content-left{
  display: flex;
  align-items: center;
}
.header-app-logo{
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.header-app, .header-content-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-app p{
  font-size: 18px;
}
.header-appname{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0px;
}
.header-content-right{
  margin-right: 70px;
}
.header-menu{
  display: flex;
  font-size: 18px;
}
.header-menu li{
  list-style: none;
  margin-right: 10px;
  border-radius: 5px;
}
.header-menu li a{
  display: block;  
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  text-decoration: none;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-link{
  border-bottom: 3px solid #3CB8D9;
  color:#479DB7;
}
.header-menu li:hover{
  background-color: #3CB8D9;
  color: white;
  font-weight: bold;
}
.section-hero-home{
  flex-grow: 1!important;
  margin-top: 10px;
  margin-bottom: 40px!important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  padding:0px!important;
}